// Navbar
.navbar {
  height: auto;
  max-width: calc(#{$wide-size} - (#{$spacing-full} * 2));
  max-width: -webkit-calc(#{$wide-size} - (#{$spacing-full} * 2));
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: $spacing-full - 15px $spacing-full;
  @extend %clearfix;
}

// Navigation
.menu {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  a#mode {
    float: left;
    left: 8px;
    top: 6px;
    position: relative;
    clear: both;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.7;
    z-index: 1;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:active {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
    }

    .mode-moon {
      display: block;

      line {
        stroke: $white;
        fill: none;
      }

      circle {
        fill: $white;
        stroke: $white;
      }
    }

    .mode-sunny {
      display: none;

      line {
        stroke: $black;
        fill: none;
      }

      circle {
        fill: none;
        stroke: $black;
      }
    }
  }

  .trigger {
    float: right;
  }

  .menu-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu-link {
    color: $white;
    line-height: $base-line-height + 0.4;
    text-decoration: none;
    padding: 5px 8px;
    opacity: 0.7;
    letter-spacing: 0.3px;
    font-family: $font-quaternary;

    &:hover {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:focus {
      border: none;
      outline: none;
    }

    &.rss {
      position: relative;
      bottom: -3px;
      outline: none;
    }

    @include media-query($on-mobile) {
      opacity: 0.8;
    }
  }

  .menu-link.active {
    opacity: 1;
    font-weight: 600;
  }

  @include media-query($on-mobile) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    height: 50px;
    background-color: $black;
    border-bottom: 1px solid $black;

    a#mode {
      left: 10px;
      top: 12px;
    }

    .menu-icon {
      display: block;
      position: absolute;
      right: 0;
      width: 50px;
      height: 23px;
      line-height: 0;
      padding-top: 13px;
      padding-bottom: 15px;
      cursor: pointer;
      text-align: center;
      z-index: 1;

      >svg {
        fill: $white;
        opacity: 0.7;
      }

      &:hover {
        >svg {
          opacity: 1;
        }
      }

      &:active {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
      }
    }

    input[type="checkbox"]:not(:checked)~.trigger {
      clear: both;
      visibility: hidden;
    }

    input[type="checkbox"]:checked~.trigger {
      position: fixed;
      animation: 0.2s ease-in forwards fadein;
      -webkit-animation: 0.2s ease-in forwards fadein;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: $black;
      height: 100vh;
      width: 100%;
      top: 0;
    }

    .menu-link {
      display: block;
      box-sizing: border-box;
      font-size: 1.1em;

      &:not(:last-child) {
        margin: 0;
        padding: 2px 0;
      }
    }
  }
}

// Author
.author {
  margin-top: 6.3rem;
  margin-bottom: 4rem;
  text-align: center;
  font-family: $font-secondary;
  font-size: $author-font-size;

  @include media-query($on-mobile) {
    margin-bottom: 3em;
    margin-top: 3em;
  }

  .author-avatar {
    box-shadow: 1px 1px 20px $black;
    width: 200x;
    height: 200px;
    user-select: none;
    background-color: $black;
    -ms-user-select: none;
    -webkit-user-select: none;
    opacity: 1;
  }

  .author-name {
    font-size: 1.7em;
    margin-bottom: 2px;
  }

  .author-bio {
    margin: 0 auto;
    opacity: 0.9;
    max-width: 500px;
    line-height: 1.688;
  }
}

// Content
.posts-item-note {
  font-size: $base-font-size;
  font-weight: 700;
  margin-bottom: 5px;
  color: $black;
}

// List of posts
.post-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 6px;
  @extend %clearfix;

  &:not(:first-child) {
    border-top: 1px solid $light;
  }

  .post-item-date {
    min-width: 96px;
    color: $black;
    font-weight: 700;
    padding-right: 10px;

    @include media-query($on-mobile) {
      font-size: 16px;
    }
  }

  .post-item-title {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: $base-font-size;
    font-weight: normal;
    letter-spacing: 0.1px;

    a {
      color: $text-base-color;

      &:hover,
      &focus {
        color: $black;
      }
    }
  }
}

// Footer
.footer {
  margin-top: 8em;
  margin-bottom: 2em;
  text-align: center;

  @include media-query($on-mobile) {
    margin-top: 3em;
  }

  span.footer_item {
    color: $black;
    opacity: 0.8;
    font-weight: $bold-weight;
    font-size: $small-font-size;
  }

  a.footer_item {
    color: $black;
    opacity: 0.8;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 10px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer_copyright {
    font-size: $small-font-size - 1;
    margin-top: 3px;
    display: block;
    color: $gray;
    opacity: 0.8;
  }
}

.not-found {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;

  .title {
    font-size: 5em;
    font-weight: $bold-weight;
    line-height: 1.1;
    color: $black;
    text-shadow: 1px 0px 0px $text-link-blue;
  }

  .phrase {
    color: $text-base-color;
  }

  .solution {
    color: $text-link-blue;
    letter-spacing: 0.5px;
  }

  .solution:hover {
    color: $text-link-blue-active;
  }
}


.maintainment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  border: 1rem solid $border-background-color;
  padding: 2rem;

  @include media-query($on-mobile) {
    padding: 1rem;
    margin: 0px 1rem;
  }
}

.search-article {
  position: relative;
  margin-bottom: 50px;

  label[for="search-input"] {
    position: relative;
    top: 10px;
    left: 11px;
  }

  input[type="search"] {
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 40px;
    outline: none;
    position: absolute;
    border-radius: 5px;
    padding: 10px 10px 10px 35px;
    color: $text-base-color;
    -webkit-appearance: none;
    font-size: $base-font-size;
    background-color: rgba(128, 128, 128, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.1);

    &::-webkit-input-placeholder {
      color: #808080;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

#search-results {
  text-align: center;

  li {
    text-align: left;
  }
}

.archive-tags {
  height: auto;

  .tag-item {
    padding: 1px 3px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1);
  }
}

.portfolio-section {
  margin-bottom: 2rem;

  .portfolio-title-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0px;
    background-color: $border-background-color;
    margin: 1rem 0px;

    @include media-query($on-mobile) {
      padding: 1rem 0.5rem;
    }

    img {
      width: 50%;
      height: auto;

      @include media-query($on-mobile) {
        width: 100%;
        height: auto;
      }
    } 
  }

  .portfolio-title {
    text-align: center;
    font-size: 2rem;
    font-family: $font-secondary;
    color: $secondary-color;
    text-shadow: 2px 2px 0px $tertiary-color;
    padding: 1.5rem 0px;
    background-color: $border-background-color;
    margin: 1rem 0px;
  }

  .portfolio-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .portfolio-mini-section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-row: auto;
      gap: 1rem;

      a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;

        &:hover {
          border: none;
        }

        &:focus {
          border: none;
        } 

        &:active {
          border: none;
        }

        img {
          aspect-ratio: 3/2;
          object-fit: cover;
          object-position: center;
          max-height: 228px;
        }
      }

    }
  }

  .to-up-link {
    display: flex;
    justify-content: end;
    align-items: center;

    a {
      color: $tertiary-color;
      text-decoration: none;
      font-family: $font-secondary;
      transition: all 0.1s ease-in-out;
      
      &:hover {
        color: $secondary-color;
        text-decoration: none;
        border: none;
      }
    }
  }

}

.portfolio-navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  align-items: center;

  @include media-query($on-mobile) {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  a {
    color: $tertiary-color !important;
    text-decoration: none !important;
    font-family: $font-secondary;
    transition: all 0.1s ease-in-out;
    text-align: center;
    
    &:hover {
      color: $secondary-color !important;
      text-decoration: none !important;
      border: none !important;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;

  @include media-query($on-mobile) {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .contact-image {
    display: flex;
    justify-content: center;

    img {
      width: auto;
      height: auto;
      margin: 1rem;

      @include media-query($on-mobile) {
        max-width: 350px;
        width: 100%;
        height: auto;
      }
    }


    
  }

  .contact-msg {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3rem;

    @include media-query($on-mobile) {
      align-items: center;
    }

    h2 {
      color: $tertiary-color;
    }

    .social-media-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;


      .contact-social {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        img {
          image-rendering: pixelated;
          margin: 0px;
        }

        a {
          color: $tertiary-color;
          text-decoration: none;
          
          &:hover {
            color: $tertiary-color;
            text-decoration: none;
            border: none;
          }

          &:focus {
            border: none;
            outline: none;
          }
        }

        span {
          color: $tertiary-color;
        }
      }
    }

  }
}

.contact-form {
  .name-and-mail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include media-query($on-mobile) {
      flex-direction: column;
      gap: 0px;
    }
  }

  .contact-msg {
    display: flex;
    align-items: center;
    gap: 20px;

    .neutral-msg {
      color: yellow
    }

    .error-msg {
      color: red;
    }

    .success-msg {
      color: green;
    }
  }


  .form-section {
    margin-top: 10px;

    @include media-query($on-mobile) {
      margin-top: 20px;
    }
  }

  input {
    width: 100%;
    border: none;
    border-bottom: $black 2px solid;
    padding: 5px;
    font-size: 15px;
    background: none;
    font-family: $font-primary;
    border-radius: 0px;

    &::placeholder {
      color: $gray;
    }
    
    &:focus {
      outline: none;
      border-bottom: $text-link-blue 2px solid;
    }

    &:active {
      outline: none;
      border-bottom: $text-link-blue 2px solid;
    }
  }

  textarea {
    width: 100%;
    min-height: 200px;
    font-size: 14px;
    background: none;
    padding: 5px;
    border: black 2px solid;
    font-family: $font-primary;
    border-radius: 0px;

    &::placeholder {
      color: $gray;
    }

    &:focus {
      outline: none;
      border: $text-link-blue 2px solid;
    }

    &:active {
      outline: none;
      border: $text-link-blue 2px solid;
    }
  }

  button[type="submit"] {
    width: 100px;
    padding: 10px;
    background-color: $text-link-blue;
    color: $white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    font-family: $font-secondary;
    font-size: 14px;


    &:hover {
      background-color: $text-link-blue-active;
    }
  }
}

.skill-page {
  margin: 0px 128px;

  @include media-query($on-mobile) {
    margin: 0px 8px;
  }

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 16px;

  @include media-query($on-mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 32px;
  }

  .header {
    grid-column: 1 / 4;
    grid-row: 1;
    
    @include media-query($on-mobile) {
      grid-column: 1;
      grid-row: 1;

      margin-top: 32px !important;
      margin-bottom: 0px !important;
    }

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-columns: auto auto;

    @include media-query($on-mobile) {
      grid-template-columns: 5fr 1fr;
      grid-template-rows: auto auto;
    }

    gap: 8px;

    .title {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include media-query($on-mobile) {
        grid-column: 1 / 3;
        grid-row: 1;
        justify-content: center;
        align-items: center;
      }
      
      img {
        margin: 0px;
      }
    }

    .subtitle {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        margin: 0px;
      }
    }

    .level {
      grid-column: 2;
      grid-row: 1 / 2;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-query($on-mobile) {
        grid-column: 2;
        grid-row: 2;
      }
    }

    .separator {
      grid-column: 1 / 3;
      grid-row: 3;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }
  }

  .skills {
    grid-column: 1;
    grid-row: 2;

    @include media-query($on-mobile) {
      grid-column: 1;
      grid-row: 2;
    }

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .equipment {
    grid-column: 2;
    grid-row: 2 / 4;

    @include media-query($on-mobile) {
      grid-column: 1;
      grid-row: 3;
    }

    display: flex;
    flex-direction: column;
    gap: 16px;

    .equipment-panel {
      display: flex;

      img {
        margin: auto;
      }
    }
  }

  .experience {
    grid-column: 1;
    grid-row: 3;

    @include media-query($on-mobile) {
      grid-column: 1;
      grid-row: 4;
    }

    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 16px;

    height: 100%;

    

    .panel {
      position: relative;
      
      .links {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        a {
          width: 100%;
          height: 100%;

          &:hover, &:active, &:focus {
            border: none;
          }
        }
      }
      
    }
  }

  .photoden {
    grid-column: 3;
    grid-row: 1 / 4;

    @include media-query($on-mobile) {
      grid-column: 1;
      grid-row: 5;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;

      img {
        margin: auto 0px 0px;
      }
    }
  }
}