// Fonts preferences
$sans-family: Roboto, sans-serif;
$mono-family: Consolas, monospace;
$font-primary: "jetbrains_mono";
$font-secondary: "whacky_joe";
$font-tertiary: "tomorrow_night";
$font-quaternary: "plump_prose_round";
$test-family: "retro_future";
$base-font-size: 14px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

//Colors
$primary-color: #6bc96c;
$secondary-color: #a6555f;
$tertiary-color: #873555;
$quaternary-color: #D8C2B5;
$quinary-color: #EADFDB;

// Author variables
$author-font-size: 16px;

// Font weight
// $light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

// Background Colors
$background-color: $quaternary-color;
$border-background-color: $quinary-color;

//Light Colors
$text-base-color: #434648;
$text-link-blue: $tertiary-color;
$text-link-blue-active: $secondary-color;

$black: #0d122b;
$light: #ececec;
$smoke: #d2c7c7;
$gray: #6b7886;
$white: #fff;

// Dark Colors
$dark-text-base-color: #c7bebe;
$dark-text-link-blue: #ff5277;
$dark-text-link-blue-active: #ff2957;

$dark-black: #131418;
$dark-white: #eaeaea;
$dark-light: #1b1d25;
$dark-smoke: #4a4d56;
$dark-gray: #767f87;

// Width of the content area
$md-wide-size: 890px;
$md-narrow-size: 720px;
$wide-size: 890px;
$narrow-size: 890px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

$background-pathern: url("../../assets/img/background.gif");

// Social Media Image Routes

$twitch-icon: url("../../assets/icons/social-media/white/twitch-icon-white.png");
$twitter-icon: url("../../assets/icons/social-media/white/twitter-icon-white.png");
$discord-icon: url("../../assets/icons/social-media/white/discord-icon-white.png");
$youtube-icon: url("../../assets/icons/social-media/white/youtube-icon-white.png");
$instagram-icon: url("../../assets/icons/social-media/white/insta-icon-white.png");
$itch-icon: url("../../assets/icons/social-media/white/itch-icon-white.png");
$mail-icon: url("../../assets/icons/social-media/white/mail-icon-white.png");

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import sass files
@import "styles/fonts", "styles/base", "styles/layout", "styles/post",
  "styles/miscellaneous", "styles/syntax", "styles/dark", "styles/helper";
